<article class="post-preview">
  {{ if .Truncated }}
    <a href="{{ .Permalink }}">
      <h2 class="post-title">{{ .Title }}</h2>
    </a>
    <div class="post-entry">
      <p>{{ .Summary }}</p>
      <a href="{{ .Permalink }}" class="post-read-more"
        >{{ i18n "read-more" }}</a
      >
    </div>
  {{ else }}
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-entry">
      <p>{{ .Summary }}</p>
    </div>
  {{ end }}

  <div class="postmeta">
    {{ partial "postmeta.html" . }}
  </div>
</article>
